<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,maximum-scale=.5"
    />

    <link rel="shortlink" href="https://earlsurls.site/" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/site.webmanifest" />

    <title>EARLS URLS</title>
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Earls Urls</a>

        <div class="navbar-collapse justify-content-end">
          {{#if user}}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/u/stats" class="nav-link">{{ user.username }}</a>
              </li>
              <li class="nav-item">
                <a href="/u/logout" class="nav-link">logout</a>
              </li>
            </ul>
          {{else}}

            <form
              method="post"
              action="/u/auth"
              id="login"
              class="navbar-nav align-items-center"
              role="form"
            >
              <div class="form-floating me-2">
                <input
                  id="username"
                  type="text"
                  class="form-control"
                  name="username"
                  value="{{username}}"
                  placeholder="username"
                />
                <label for="username">Username</label>
              </div>

              <div class="form-floating me-2">
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  value="{{password}}"
                  placeholder="password"
                />
                <label for="password">Password</label>
              </div>
              <button
                type="submit"
                class="btn btn-primary me-2"
                name="login"
                value="1"
              >login</button>

              <button
                type="submit"
                class="btn btn-primary"
                name="register"
                value="1"
              >register</button>
            </form>
          {{/if}}
        </div>
      </div>
    </nav>

    <main class="flex-shrink-0">
      <section class="py-5 text-center container">
        {{#if error}}
          <div class="alert alert-warning" role="alert">
            {{error}}
          </div>
        {{/if}}

        <!-- body: -->
        {{{body}}}
      </section>
    </main>

    <footer class="footer mt-auto py-3 bg-light text-muted">
      <div class="container text-center">
        {{#if version}}
          <span>v {{version}}</span>
          /
        {{/if}}
        <a href="/api/docs">API</a>
        /
        <a href="https://github.com/pinecone-dot-website/earls-urls">github</a>
        /
        <a href="https://rack.and.pinecone.website">rack &amp; pinecone</a>
      </div>
    </footer>
  </body>
</html>