<h2><a href="{{short_url}}">{{short_url}}</a></h2>

<pre>
  short: {{earl.short_url}}
  id: {{row.id}}
  url: {{row.url}}
  created: {{row.createdAt}}
</pre>        <p class="card-text text-end"><small class="text-muted">created: {{{time row.createdAt}}}</small></p>