<p class="original">
	<span class="url">{{ input_url }}</span> 
	<span class="info">({{ input_url.length }} characters)</span> 
</p>

<p>has been shortened to</p>

<p class="result">
	<a href="{{ short_url }}">{{ short_url }}</a>
	<span class="info">({{ short_url.length }} characters)</span>
</p>

<p>
	<a href="{{ short_url }}/info">Info</a>
</p>
